
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
    'header'
    'container'
    'footer'
    ;
}

#header{
     grid-area:header ;
}
#container{
    grid-area: container;
}
#footer{
    grid-area: footer;
}

header{
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}



h1 {
  /* 1. Define o gradiente como a imagem de fundo */
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  
  /* 2. Recorta o fundo para o formato do texto */
  -webkit-background-clip: text; /* Para navegadores WebKit (Chrome, Safari) */
  background-clip: text;
  
  /* 3. Torna a cor do texto transparente para revelar o fundo */
  color: transparent;
}





.containerx{
background-color: crimson;
width: 100%;
padding: 15px;
border-radius: 15px;
display: grid;
gap: 0px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

 }
.containerx div{
background-color: crimson;
padding: 5px;
border: 0px ;
}
.containerx1{
    border-radius:5px;
}
.containerx2{
    border-radius:5px;
}
.containerx3{
    border-radius:5px;
}
.containerx4{
    border-radius:5px;
}




.containerx1:hover{
    color:orange;

}
.containerx2:hover{
    color:orange;

}
.containerx3:hover{
    color:orange;

}
.containerx4:hover{
    color:orange;

}
.container{
    background-color: #EEE;
    min-height: 60vh;

}

footer{
    background-color: red;
    text-align: center;
    padding: 80px;
}


.products-container{
    max-width: 1200px;
    margin: 0 auto;

    background-color: gray;
border: 2px;
padding: 15px;
display: grid;
gap: 5px;
grid-template-columns: auto auto auto ;
grid-template-rows: auto auto;
}


.product-image{
    height:300px ;
    width: 75%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}
#img-1{
    background-image:url('../img/pedra.jpg') ;
}
#img-2{
    background-image: url('../img/tress.jpg');
}
#img-3{
    background-image: url('../img/wayofkings.jpg');
}
#img-4{
    background-image: url('../img/images.jpg');
}
#img-5{
    background-image: url('../img/7143D7foVmL.jpg');

}
#img-6{
    background-image: url('../img/61x1ZHomWUL.jpg');

}

.btn{
    background-color:brown;
    color: white;
    width: 30vh;
    height: 30px;
    padding: 5px;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    list-style: none;
    display: block;
 text-align: center;
 text-transform: uppercase;
 text-decoration: none;
}
.btn:hover{
    color: red;
}